form {
    display: grid;
    grid-template-columns: 10rem 1fr;
    width: 100%;
    max-width: 32rem;
    border: 1px solid black;
}

form:focus {
    outline: 2px solid slateblue;
}

form input, form label {
    padding:0.5rem
}

input[type=submit] {
    padding: 1rem;
    background-color: #05a31f;
    color: rgb(255, 255, 255);
    font-weight: bold;
    grid-column: span 2;
}